[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
[submodule "pyosmium"]
	path = pyosmium
	url = https://github.com/wiktorn/pyosmium.git
[submodule "libosmium"]
	path = libosmium
	url = https://github.com/osmcode/libosmium.git
